extends layout

block content
  h1 SalesforceSaturday Tokyo
  p.lead Let's learn Salesforce on every Saturday.
  .
    <a href="https://twitter.com/intent/tweet?button_hashtag=SalesforceSaturday&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-related="SFSatTokyo,takahito0508" data-show-count="false">Tweet #SalesforceSaturday</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/SFSatTokyo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="true">Follow @SFSatTokyo</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  hr
  .row
    .col-sm-12
      h2 SalesforceSaturday Tokyo とは
      p 土曜日にSalesforceの勉強をしたいみなさんを繋げて一緒に盛り上がることがミッションです。
      p これから勉強をはじめようと思っているあなたも、自宅やカフェで勉強するのが好きなあなたも、たまの土曜日に集まっていっしょに勉強しませんか？
      p 気づいたら毎週の土曜日、都内某所のどこかしらで勉強会が開催されていて、自分の都合に合わせて好きな時に参加できるような理想の世界を目指します！！
      p
      p SalesforceSaturday Tokyo の勉強会情報は trailblazers.jp のイベント一覧をチェック！
      p
        a.btn.btn-default(href='https://www.trailblazers.jp/events/?group=saturdaytokyo_dg', role='button') いますぐチェック »
  hr
  .row
    .col-sm-6
      .
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/SalesforceSaturday" data-widget-id="982541243463876610">#SalesforceSaturday のツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    .col-sm-6
      .
        <a class="twitter-timeline" href="https://twitter.com/SFSatTokyo?ref_src=twsrc%5Etfw">Tweets by SFSatTokyo</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>